 /*----------------------------------------------------------header------------------------------------*/
 .primera {
    width: 101.85%;
    height: 7.5rem;
    background-color: $bg_productos ;
    img {
      float: left;
      padding: 5px;
      margin-left: 0px;
  }

} 