* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(../img/26800-plantas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Saira Extra Condensed", sans-serif;
    margin: 0.5%;
    padding: 0.5%;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-bottom: 7.5%;
  }
  h2 {
    color: rgb(17, 89, 74);
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
  }
  h3 {
    color: rgb(17, 89, 74);
  }
  /*----------------------------------------------------------header------------------------------------*/
.primera {
    width: 101.85%;
    height: 7.5rem;
    border: 2px double #949494; 
    background-color:  rgb(198, 240, 198);
    img {
      float: left;
      padding: 5px;
      margin-left: 0px;
  }
    button{
      border-radius: 100%;
   }
} 
/*------------------------------------navegador de la pagina--------------------------------------------*/
ul {
  background-color: rgb(255, 255, 255);
  margin: 5px auto;
  padding: 0%;
  width: 100%;
  max-width: 2000px;
  list-style: none;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  display: inline-block;
  text-align: center;
  position: relative;
  color: rgb(17, 89, 74);
  text-decoration: none;
  padding: 5px;
}
ul ul {
   position: absolute;
   display: none;
   
 }
 ul ul li {
   display: block;
 }
 ul li:hover {
   background-color: rgb(109, 109, 109);
   color: rgb(140, 182, 60);
 }
 a {
   text-decoration: none;
   color: rgb(17, 89, 74);
   align-items: center;
 }
 
 a:hover {
   color: rgb(140, 182, 60);
 }
 ul li:hover ul{
   display: block;
   background-color: rgb(185, 184, 184);
 }
.subitem{
   align-items: center;
   font-size: 70%;
}

/*--------------------------------publicacion productos primera pagina-----------------------------------*/
.carousel{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 5%;
    img{
      border-radius: 5% ;
      border: 2px double #949494;
   }
}  
/*---------------------------------boton whatsapp-------------------------------------------------------*/
.sticky-bottom{
    position: fixed;
    top: 570px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
    }
  /*--------------------------------entrenate con nosotros video--------------------------------------------*/
  .entrenateConNosotros {
    color:rgb(17, 89, 74);
    background-color:rgb(255, 255, 255);
    text-decoration: underline;
    text-align: center;
    margin: 2%;
    padding: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    .fondoVideo {
      background-color: rgb(185, 184, 184);
      padding: 2%;
      padding-bottom: 3%;
  }
} 
 /*--------------------------especificaciones generales de la pagina----------------------------------------*/
p {
    color: rgb(17, 89, 74);
    font-size: 1.3rem;
    line-height: 1.2;
    word-spacing: 8px;
}
a {
    font-size: 150%;
    color: rgb(17, 89, 74);
    text-decoration: none;
    text-align: center;
   
 }
 /*---------------------------------------parrafo en blanco------------------------------------------*/
.blancoParrafo{
  color: white;
  font-family: "Walter Turncoat", cursive;
  font-size: 1.7rem;
  line-height: 1.2;
  word-spacing: 8px;
  margin:0%; 
  margin-left: 5%;
  margin-right: 5%;
  }
  /*---------------------productos y contactanos-------------------------------------------------------*/
  .productos {
    color: rgb(17, 89, 74);
    background-color:rgb(255, 255, 255);
    margin: 2%;
    padding: 1%;
    border-radius: 2.5% ;
    display: flex;
    justify-content: space-around;
    .caja {
       width: 350px;
       height: auto;
       padding: 20px;
       margin: 20px;
       display: inline-block;
       text-align: center;
       background-color:  rgb(198, 240, 198);
       margin-left: 25px;
       margin-right: 25px;
       margin-bottom: 5%;
       opacity: .9;
       border: 2px double #949494;
       border-radius: 5% ;
       &:hover{
         opacity:2;
         border: white;
         transform: scale(1.1,1.1) ;
         border: 2px double #949494;
         transition: ease;
       }
  }
}
 /*-------------------------formulario de contacto--------------------------------------*/
 .formulario {
    color: rgb(17, 89, 74);
    background-color:rgb(255, 255, 255);
    margin: 3%;
    padding: 2%;
    font-size: 25px;
    text-align: center;
    .contactanos {
       color: rgb(17, 89, 74);
       text-align: center;
       font-size: 30px;
       text-decoration: underline;
       padding: 2%;
       margin: 2%;
      }
      .nombre{
        margin-right: 4%;
        display: inline-block;
      }   
  }
 
  /*-----------------------metodos de pagos y links social-----------------------------------------*/
  .linkSocial{
    background-color: rgb(255, 255, 255);
    margin: 1%;
    padding: 5px;
    height: 7rem;
    margin-top: 5%;
    .metodosDePago{
       display: flex;
       flex-direction: row;
       margin-left: 1.5%;
       margin-right: 1%;
       img{
         padding-right: 1%;
         padding-top: 1%;
       }
    }
    .social{
       display: flex;
       flex-direction: row-reverse;
       img{
         padding-left: 1%;
         padding-right: 2%;
         margin-left: 1rem ;
       }
     }
  } 
 
 /*----------------------------footer pagina principal natgy-----------------------------------------*/
 .ultimo {
   margin: 20px;
   padding: 20px;
   height: 150px;
   background-color: rgb(255, 255, 255);
   text-align: center;
    img {
       float: left;
       padding: 5px;
       margin-left: 0px;
    }
   .direccion{
      margin-top: 90px;
      display: flex;     
      flex-direction: row;
      justify-content: center;   
      align-items: flex-end;
    }
  }
 /*----------------------------especificacione del main en los html de los productos--------------------*/

.fondoProducto {/*organizacion de los productos*/
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    border-radius: 2.5%;
    display: flex;
    justify-content: space-around; 
  .cajaProducto {
     width: 400px;
     height: auto;
     padding: 2%;
     margin: 2%;
     display: inline-block;
     text-align: center;
     background-color:  rgb(182, 243, 182);
     opacity: .9;
     border: 2px double #949494;
     border-radius: 5% ;
    &:hover{
      opacity:2;
      border: white;
      transform: scale(1.1,1.1) ;
      border: 2px double #949494;
      transition: ease;
    } 
  }
} 
/*----------------------------------media tamano dispositivos-----------------------------------------*/
@media only screen and (max-width:768px ) {
    body{
      background-image: url(../img/653578_052c27477b62408f890fba01758708d0_mv2_d_5574_7115_s_4_2.jpeg);
      font-size: 10px;
    }
    h1 {
      color:rgb(17, 89, 74) ;
    }
    .blancoParrafo{
      color: rgb(17, 89, 74) ;
    }
    .ultimo{
      height: 200px;
    }
    .sticky-bottom{
      top: 540px;
    }
    .padre{
     height: auto; 
     align-items: center;
    }
    .carousel{
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: center;
    }
    
  }
  @media only screen and (min-width: 768px ){
    body{
      background-image: url(../img/dark-honeycomb.png);
    }
  }
  @media only screen and (min-width: 1200px ){
    body{
      background-image: url(../img/26800-plantas.jpg);
    }
  }
 /*-----------------html protein, energizante, bebida-----------*/ 
.padre{
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 435px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0.5%;
    margin-bottom: 5%;
    border-radius: 5%;
    display: flex;
    justify-content: flex-end;
    border: 2px double #949494;
    .imagen{
      align-items: center;
      padding: 5%;
    }
    .texto{
      text-align: center;
      align-items: center;
      margin-top: 10%;
    }
    .energy{
      align-items: center;
    }
   
}

